function Random.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push pointer 0
return
function Random.generateRandomX 0
push argument 0
pop pointer 0
push this 0
push constant 4
push constant 20
call Math.multiply 2
add
push constant 509
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 2
label IF_FALSE0
push this 0
push constant 4
push constant 20
call Math.multiply 2
sub
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 2
label IF_FALSE1
push this 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 4
push constant 20
call Math.multiply 2
sub
pop this 0
goto IF_END2
label IF_FALSE2
push this 0
push constant 4
push constant 20
call Math.multiply 2
add
pop this 0
label IF_END2
push this 0
return
function Random.generateRandomY 0
push argument 0
pop pointer 0
push this 1
push constant 2
push constant 20
call Math.multiply 2
add
push constant 200
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 2
label IF_FALSE0
push this 1
push constant 2
push constant 20
call Math.multiply 2
sub
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 2
label IF_FALSE1
push this 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push constant 2
push constant 20
call Math.multiply 2
sub
pop this 1
goto IF_END2
label IF_FALSE2
push this 1
push constant 2
push constant 20
call Math.multiply 2
add
pop this 1
label IF_END2
push this 1
return
